<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking app</title>
</head>
<body>
    <h1>BOOK YOUR APPOINTMENT</h1>
    <form action='/booking' method ='POST' id='appointment'>
        <input id='userName' name ='userName' placeholder="user name">
        <input id='phoneNumber' name ='phoneNumber' placeholder="phone number">
        <input id='email' name ='email' placeholder="email">
        <button type="submit">BOOK</button>
    </form>
    
</body>
</html>